# Ignore all Maven build outputs
**/target/
**/*.class

# Ignore IDE specific files
.idea/
.vscode/
*.iml

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore frontend build files
frontend/dist/
frontend/node_modules/